@import "src/variables";

header {
  min-height: 0;
}

/* Necessary for Flexbox to work: https://medium.com/@stephenbunch/how-to-make-a-scrollable-container-with-dynamic-height-using-flexbox-5914a26ae336 */
.wrapper {
  min-height: 0;
}

.content-footer-wrapper {
  min-height: 100%;
}
