<div class="container-fluid w-100 h-100">
  <div class="row align-items-center h-100">
    <div class="col-12 col-lg-5 order-2 order-lg-1">
      <img src="assets/LoyolaOrsino_About.jpg" class="mb-5 w-100 h-100" />
    </div>
    <div class="col-12 col-lg-7 order-1 order-lg-2 ps-lg-5">
      <h2>Loyola Orsino</h2>
      <p class="mb-5 fst-italic">* 19.06.1934 - † 15.07.2021</p>
      <div class="mb-5">
        <p class="mb-2">
          Loyola Ursicino Cosme Pinto ist am 19.06.1934 in Sangolda Bardez-Goa,
          Indien geboren worden. Er war der jüngste von zehn Kindern von Helena
          Albertina und Diogo Sebastian Pinto.
        </p>
        <p class="mb-2">
          Die Musik war seine erste große Liebe. Erst spielte er Gitarre, dann
          Saxophon und Klarinette in verschiedenen Bands, unter anderem am Taj
          Mahal und Ashoka Hotel. Seine musikalische Karriere führte ihn durch
          viele Länder und Kontinente und verband ihn mit vielen namhaften
          musikalischen Größen wie z. B. Duke Ellington. 1966 wurde er für
          Fernsehshows und Plattenaufnahmen nach Lissabon eingeladen, wo er für
          die portugiesische Radio- und Fernsehgesellschaft engagiert wurde.
        </p>
        <p class="mb-2">
          In Lissabon lernten sich dann Berta und Loyola zufällig kennen und
          heirateten am 08. Januar 1969. Ein Engagement zog das Paar dann nach
          Deutschland, wo sie ihre neue Heimat in Leverkusen fanden. Dort kamen
          dann Charmaine und Romina zur Welt. Durch die Familie lebte er bis zu
          seinem Tod am 15.07.2021 in Köln.
        </p>
      </div>
      <div class="mb-5">
        <p class="mb-2 fst-italic">
          Loyola Ursicino Cosme Pinto was born on the 19th of June 1934 in
          Sangolda Bardez-Goa, India. He was the youngest of ten children of
          Helena Albertina and Diogo Sebastian Pinto.
        </p>
        <p class="mb-2 fst-italic">
          Loyola found his first great love in music. He first played the guitar
          and then the saxophone as well as the clarinet in several bands at the
          Taj Mahal and Ashoka Hotel amongst others. Throughout his career, he
          travelled numerous countries and continents and connected with
          prestigious musicians such as Duke Ellington. In 1966 Loyola was
          invited to Lisbon for recordings and television shows and got hired by
          the national portuguese broadcasting company.
        </p>
        <p class="mb-2 fst-italic">
          In Lisbon Loyola happened to meet Berta. The couple married on the 8th
          of January 1969 and moved to Germany, where they found their new home
          in the city of Leverkusen. It is where their daughters Charmaine and
          Romina were born. Loyola lived with his family in Cologne until he
          passed away on 15th of July 2021.
        </p>
      </div>
    </div>
  </div>
</div>
