<footer class="px-4 bg-light">
  <div class="w-100 d-flex flex-column flex-lg-row justify-content-lg-between">
    <div
      class="order-2 order-lg-1 d-flex flex-column flex-lg-row justify-content-center align-items-lg-center mb-3"
    >
      <span class="text-center text-align-lg-start mb-1 mb-lg-0">
        Copyright © 2022<span class="d-none d-lg-inline">,&nbsp;</span>
      </span>
      <span class="text-center text-align-lg-start">
        made with ❤ by
        <a
          href="https://github.com/mweiershaeuser"
          target="_blank"
          class="text-primary underline-hover"
          >Melvin Weiershäuser</a
        >
      </span>
    </div>
    <div
      class="order-1 order-lg-2 d-flex flex-column flex-lg-row justify-content-lg-between align-items-lg-center mb-3"
    >
      <button class="btn" routerLink="imprint">Impressum</button>
      <button class="btn" routerLink="privacy-policy">
        Datenschutzerklärung
      </button>
    </div>
  </div>
</footer>
