<div
  class="
    d-none
    desktop-menu
    d-lg-flex
    h-100
    justify-content-right
    align-items-center
  "
  [ngClass]="'text-' + color"
>
  <a routerLink="/home">Home</a>
  <a routerLink="/home" fragment="about">About</a>
  <a routerLink="/home" fragment="sheet-music">Notenblatt</a>
  <a routerLink="/home" fragment="memories">Erinnerungen</a>
</div>
<i
  class="d-lg-none menu-icon bi bi-list"
  [ngClass]="'text-' + color"
  (click)="toggleMenu()"
></i>

<div
  [ngClass]="{
    menu: true,
    opened: menuOpened,
    'bg-white': true,
    'd-lg-none': true
  }"
>
  <div class="d-lg-none mobile-menu d-flex flex-column h-100 p-2">
    <div class="menu-header d-flex justify-content-between w-100">
      <div class="d-flex h-100 justify-content-left align-items-center"></div>
      <div class="d-flex h-100 justify-content-right align-items-center">
        <i class="menu-icon bi bi-x text-primary" (click)="toggleMenu()"></i>
      </div>
    </div>
    <div
      class="
        menu-content
        flex-grow-1
        overflow-auto
        d-flex
        flex-column
        justify-content-center
        align-items-center
      "
    >
      <a routerLink="/home" (click)="toggleMenu()">Home</a>

      <hr />

      <a routerLink="/home" fragment="about" (click)="toggleMenu()"> About </a>

      <hr />

      <a routerLink="/home" fragment="sheet-music" (click)="toggleMenu()">
        Notenblatt
      </a>

      <hr />

      <a routerLink="/home" fragment="memories" (click)="toggleMenu()">
        Erinnerungen
      </a>
    </div>
  </div>
</div>
