<div
  class="
    d-none
    desktop-menu
    d-lg-flex
    h-100
    justify-content-right
    align-items-center
  "
>
  <a routerLink="/home">Home</a>
  <a routerLink="/home" fragment="stimmen">Stimmen</a>
  <a routerLink="/home" fragment="erinnerungen">Erinnerungen</a>
</div>
<i class="d-lg-none menu-icon bi bi-list" (click)="toggleMenu()"></i>

<div
  [ngClass]="{
    menu: true,
    opened: menuOpened,
    'bg-white': true,
    'd-lg-none': true
  }"
>
  <div class="d-lg-none mobile-menu d-flex flex-column h-100 p-2">
    <div class="menu-header d-flex justify-content-between w-100">
      <div class="d-flex h-100 justify-content-left align-items-center"></div>
      <div class="d-flex h-100 justify-content-right align-items-center">
        <i class="menu-icon bi bi-x" (click)="toggleMenu()"></i>
      </div>
    </div>
    <div
      class="
        menu-content
        flex-grow-1
        overflow-auto
        d-flex
        flex-column
        justify-content-center
        align-items-center
      "
    >
      <a routerLink="/home" (click)="toggleMenu()">Home</a>

      <hr />

      <a routerLink="/home" fragment="stimmen" (click)="toggleMenu()">
        Stimmen
      </a>

      <hr />

      <a routerLink="/home" fragment="erinnerungen" (click)="toggleMenu()">
        Erinnerungen
      </a>
    </div>
  </div>
</div>
