<p>
  Wenn du auch an Loyolas Komposition mitwirken möchtest, schicke gern ein paar
  Takte an
  <a href="mailto:memory@loyolaorsino.com">memory&#64;loyolaorsino.com</a>,
  damit wir deine Note zu seinem Lied hinzufügen können.
</p>
<p class="text-secondary fst-italic">
  If you would like to contribute to Loyola's composition, you are welcome to
  send us a few words to
  <a href="mailto:memory@loyolaorsino.com">memory&#64;loyolaorsino.com</a> so
  that we can add your note to his song.
</p>

<loy-slider
  class="w-100"
  [slides]="notes"
  [slideTemplate]="slide"
  [pagination]="'bullets'"
  [dynamicBullets]="true"
>
  <ng-template #slide let-element="element">
    <div class="d-flex justify-content-center align-items-center w-100 h-100">
      <div
        class="note note-width d-flex flex-column gap-4 flex-md-row justify-content-center align-items-center"
      >
        <i class="note-icon bi bi-music-note-beamed"></i>
        <div>
          <p>"{{ element.note }}"</p>
          <p class="text-secondary">{{ element.name }}</p>
        </div>
      </div>
    </div>
  </ng-template>
</loy-slider>
