@import "src/theme";

@import "src/bootstrap";

@import "src/variables";

@import "src/slider";

:root {
  --swiper-theme-color: #{map-get($theme-colors, "primary")} !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
