<loy-section vertical="center" id="top" headerColor="primary">
  <p>
    In liebevollem Gedenken an <wbr /><span
      class="text-secondary fst-italic no-line-break"
      >/ In loving memory of</span
    >
  </p>
  <h1 class="text-uppercase fw-bold">Loyola Orsino</h1>
  <p class="fw-bold">* 19.06.1934 - ✝ 15.07.2021</p>
</loy-section>
<loy-section
  id="about"
  headerColor="white"
  background="black"
  textColor="white"
>
  <loy-about class="w-100 h-100"></loy-about>
</loy-section>
<loy-section title="Notenblatt" titleEn="Sheet Music" id="sheet-music">
  <loy-notes class="w-100 h-100"></loy-notes>
</loy-section>
<loy-section title="Erinnerungen" titleEn="Memories" id="memories">
  <loy-memories class="w-100"></loy-memories>
</loy-section>
