<loy-section
  vertical="center"
  id="top"
  textColor="white"
  headerColor="white"
  background="url('assets/LoyolaOrsino_TheWorldsAStage.jpeg'), linear-gradient(100deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25))"
  bgBlend="overlay"
  bgPosition="60% 50%"
>
  <h1 class="text-uppercase fw-bold mb-5">
    The world's a stage
    <br />
    and we're dancing on it
  </h1>
  <p class="text-uppercase fw-bold m-0">Loyola Orsino</p>
  <p class="fw-bold m-0">* 19.06.1934 - † 15.07.2021</p>
</loy-section>
<loy-section
  id="about"
  headerColor="white"
  background="black"
  textColor="white"
>
  <loy-about class="w-100 h-100"></loy-about>
</loy-section>
<loy-section title="Notenblatt" titleEn="Sheet Music" id="sheet-music">
  <loy-notes class="w-100 h-100"></loy-notes>
</loy-section>
<loy-section title="Erinnerungen" titleEn="Memories" id="memories">
  <loy-memories class="w-100"></loy-memories>
</loy-section>
