<loy-section
  vertical="center"
  id="top"
  textColour="white"
  headerColour="white"
  background="url('assets/LoyolaOrsino_TheWorldsAStage.jpeg'), linear-gradient(100deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25))"
  bgBlend="overlay"
  bgPosition="65% 50%"
>
  <h1 class="text-uppercase fw-bold mb-5">
    The world's a stage
    <br />
    and we're dancing on it
  </h1>
  <p class="text-uppercase fw-bold m-0">Loyola Orsino</p>
  <p class="fw-bold m-0">* 19.06.1934 - † 15.07.2021</p>
</loy-section>
<loy-section id="about">
  <loy-about></loy-about>
</loy-section>

<div class="container-fluid px-4 py-5 text-center">
  <p>
    Loy kehrt wieder zurück in sein Elternhaus und findet dort unter dem
    geliebten Mangobaum seine ewige Ruhe.
  </p>
  <p class="text-secondary fst-italic">
    Loy returns to his parents' house and finds his eternal rest under the
    beloved mango tree.
  </p>
</div>

<loy-section title="Notenblatt" titleEn="Sheet Music" id="sheet-music">
  <loy-notes class="w-100 h-100"></loy-notes>
</loy-section>
<loy-section
  title="Erinnerungen"
  titleEn="Memories"
  background="white"
  id="memories"
>
  <loy-memories class="w-100 mb-5"></loy-memories>
</loy-section>

<div class="container-fluid bg-light px-4 py-5">
  <div class="row justify-content-around">
    <div class="col-12 col-md-6 col-lg-4">
      <video class="w-100" src="assets/LoyolaOrsino_RTP.mp4" controls>
        Videos are not supported by your browser.
      </video>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <video class="w-100" src="assets/LoyolaOrsino_Christmas.mp4" controls>
        Videos are not supported by your browser.
      </video>
    </div>
  </div>
</div>
